---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
{% assign public_publications = site.publications | where_exp: "item", "item.venue != 'AAAI 2027'" %}
{% assign public_publications = public_publications | where_exp: "item", "item.venue != 'ACMMM 2026'" %}
{% assign public_publications = public_publications | where_exp: "item", "item.venue != 'CVPR 2026'" %}
{% assign featured_publication = site.publications | where: "permalink", "/publication/2026-information-theoretic-evaluation" | first %}

{% if featured_publication %}
  <h2>Featured Publication</h2><hr />
  {% assign post = featured_publication %}
  {% include archive-single.html %}
{% endif %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in public_publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% unless post.permalink == featured_publication.permalink %}
        {% include archive-single.html %}
      {% endunless %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in public_publications reversed %}
    {% unless post.permalink == featured_publication.permalink %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endif %}



